<h1 class="mt-4">Admin Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %>
</p>

<h5 class="mt-5">Current Active Sessions:</h5>
<% if (sessions.length===0) { %>
    <p>No active sessions found.</p>
    <% } else { %>
        <% sessions.forEach(session=> { %>
            <div class="border rounded p-3 mb-3 bg-light">
                <p><strong>SessionID:</strong>
                    <%= session.sid %>
                </p>
                <p><strong>UserID:</strong>
                    <%= session.userId %>
                </p>
                <form action="/admin/revoke/<%= session.sid %>" method="POST">
                    <button type="submit" class="btn btn-link text-danger p-0">
                        Revoke Session
                    </button>
                </form>
            </div>
            <% }) %>
                <% } %>
                    <a href="/auth/logout" class="btn btn-secondary">Logout</a>